apiVersion: apps/v1
kind: Deployment
metadata:
  name: expense-frontend
  labels:
    app: expense-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: expense-frontend
  template:
    metadata:
      labels:
        app: expense-frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/Harshit-ops-code/expense-system-frontend:latest
          ports:
            - containerPort: 80
